<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homefixer.homefixer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_newicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SignupActivity"
            android:label="Signup" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderActivity"
            android:label="My Orders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppoinmentActivity" />
        </activity>
        <activity
            android:name=".RateActivity"
            android:label="Rate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".AppoinmentActivity"
            android:label="Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ChangeAddress"
            android:label="Edit" />
        <activity
            android:name=".SignupActivity2"
            android:label="Signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignupActivity" />
        </activity>
        <activity
            android:name=".ExpandbleList"
            android:label="Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RateCard"
            android:label="Rate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Provider_Rate"
            android:label="Review" />
        <activity
            android:name=".Pandin_Appointment"
            android:label="Upcoming Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Select_Provider"
            android:label="Select provider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Confirm_Order"
            android:label="ConfirmOrder" />
        <activity
            android:name=".Profile"
            android:label="My Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Panding_Order"
            android:label="Order">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Offers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Testing" />
        <activity android:name=".Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AboutUs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TakeAppointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AppointmentContact" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ForgetPassword"></activity>
    </application>

</manifest>
